@import '../../styles/variables.scss';

.container {
    background-color: $highlightColor;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 8px;

    .title {
        font-family: $primaryFont;
    }
    
    .list {
        display: flex;
        flex-direction: column;
    }
}
