@import './styles/variables.scss';

.app-container {
    background-color: $baseColor;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 16px;
    min-height: 100vh;

    .dashboard-container {
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 5px;

        &-right {
            display: flex;
            font-family: $primaryFont;
            flex-direction: column;
            gap: 8px;
            
            .piechart-container {
                background-color: $lighterBaseColor;
                padding: 5px;

                .piechart {
                    height: 400px;
                }
            }
        }
    }
}
  